/* TELA INDEX */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

.quiz_nerd {
    font-size: 75px;
    font-weight: 100;

}

.bem_vindo {
    font-weight: 400;
    font-size: 20px;
    color:white;
}

.yellowQuiz{
    color: #f1ff0a;
}

#divLeft{
    float: left;
    background-color: #121212;
    color: white;
    padding: 10% 0 10% 2%;
    text-align: center;
    width: 50%;
    height: 100vh;
}

#divRight{
    float: left;
    background-color: #f5f5f5;
    padding: 10% 0 10% 2%;
    text-align: center;
    width: 50%;
    height: 100vh;
}

#footHome{
    padding-top: 25%;
}

.playerName{
    padding: 15px 0 15px 20px;
    border-radius: 15px;
    width: 80%;
    font-size: 14px;
}

.start{
    margin-top: 4%;
    padding: 5px 15px;
    border-radius: 15px;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
}

.yeloowQuizBack{
    background-color: #f1ff0a;
}
.yeloowQuizBack:hover {
    cursor: pointer;
}

/* TELA QUESTION */
#container{
    padding: 10vh;
    background-color: #121212;
    height: 100vh;
}

#center{
    background-color: #f5f5f5;
    height: 80vh;
}

#header h1{
    padding: 20px 0 10px 50px;
    display: inline;
    float: left;
    font-size: 60px;
}

.backgroundClock {
    margin-left: 20%;
    display: inline;
    float: left;
    background-image: url("../img/Clock_Quiz_Nerd.svg");
    background-repeat: no-repeat;
    padding-top: 55px;
    width: 300px;
    height: 150px;
}

.avatar{
    float: left;
    width: 30px;
}

#usuário{
    font-size: 20px;
    padding-left: 5px;
}

.avatar_nome {
    padding-top: 55px;
}

#picsQuestion {
    width: 200px;
    height: 500px;
}

.wrapple {
    display: flex;
    justify-content: space-between;
}

.questoes {
    padding: 1.5rem;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 2rem;
}

 .questoes ol li {
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
} 

.questoes ol li:hover {
    background: #00b0ff;
    cursor: pointer;
}

.bloqueado {
    display: none;
}

.bloqueado li:hover {
    display: none;
} 